p{
    border: 1px solid black ;
    background-color:black;
    color: #ffffff;
    font-size: 10px;
    /* text-transform: uppercase; */
    margin-left: 5%;
    padding: 1%;
  
}
/*
.parent{
    display: flex;
    /* there are four type of values in flex*/
    /* flex-direction: column; */
    /* flex-direction: row; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* background-color: red; */
/* } */

.parent{
    display: flex;
    background-color: red;
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    /* flex-flow: column; */
    /* flex-flow: column-reverse; */
    /* flex-flow: row wrap; */
    /* flex-wrap: row-reverse wrap; */
    /* flex-flow: row wrap; */
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    /* justify-content: space-between;it will give gap b/w in the anchortags */
    height: 250px;
    justify-content: center;
    /* text-align: right; */
    align-items: center;
    align-items: flex-start;
    align-items: stretch;

    /* flex-direction: row,row-reverse,column,column-reverse;
    flex-wrap: wrap,nowrap;
    justify-content: center,flex-end,flex-start,space-around,space-between;
    align-items: center,flex-end,flex-start,stretch;
    align-content: center,flex-end,flex-start,space-around,space-between; */


   

   
}



